* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #201e1f;
  color: rgb(255, 255, 255);
  font-family: "Poppins", sans-serif;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 8vh;
  background-color: #363334;
  position: fixed;
  top: 0;
  width: 100%;
}

nav ul {
  display: flex;
  justify-content: center;
}

nav ul li {
  list-style: none;
  margin: 0 20px;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

nav ul li a:hover {
  color: rgb(0, 255, 221);
}

main hr {
  border: 0;
  background-color: #5b5b5b;
  height: 2px;
  margin: 30px 5vw;
}



.logo {
  font-weight: bold;
  font-size: 2rem;
}

.first-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 17vh 20vh;
  height: 60vh;
  /*use pixel if needed*/
}

.first-section>div {
  width: 40%;
}

.left-section {
  font-size: 3rem;
}

.left-section .btn {
  padding: 15px;
  border: 1px solid #fff;
  border-radius: 5px;
  background-color: #201e1f;
  color: white;
  cursor: pointer;
}

.right-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-section img {
  width: 120%;
}

.name {
  font-weight: bold;
  color: rgb(0, 255, 221);
}

.blue-text {
  color: rgb(0, 255, 221);
}

.aboutme-section {
  max-width: 80vw;
  margin: auto;
  height: 50vh;
  padding-top: 9vh;
}

.aboutme-section p {
  margin: 5rem 0;
}

.aboutme-section .content {
  display: flex;
  align-items: center;
}


.aboutme-section .image {
  height: 40vh;
  padding: 3rem 5rem;
}
.aboutme-section img{
  height: 70%;
}

.project-section {
  max-width: 80vw;
  margin: auto;
  height: 50vh;
  padding-top: 9vh;
}
.skills-section {
  max-width: 80vw;
  margin: auto;
  height: 50vh;
  padding-top: 9vh;
}

footer {
  background-color: #363334;
}

.footer {
  display: flex;
  padding: 50px 150px;
  align-items: center;
  justify-content: space-evenly;
}

.footer ul {
  list-style: none;
}

.first-footer {
  align-items: center;
}

.foot-text {
  font-size: 10px;
}

.second-footer a {
  text-decoration: none;
  color: white;
}